body {
  font-family: Arial, Roboto, 'sans-serif';
  margin: 0;
}

.header, .random-info, .customer-feedback, .cta, footer {
  padding: 0 5rem;
}

.header, footer {
  background-color: #1F2937;
}

.cta-info, .cta-box {
  background-color: #3882F6;
}

.img-container, .customer-feedback {
  background-color: #E5E7EB;
}

ul {
  list-style: none;
}

.header {
  nav {
    display: flex;
    justify-content: space-between;

    h2 {
      font-size: 24px;
      color: #F9FAF8;
    }

    ul {
      display: flex;
      gap: 2rem;
      font-size: 18px;
      color: #E5E7EB;
      flex-wrap: wrap;
    }
  }

  .website-info {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 5rem 0 0 0;
    align-items: center;

    .info-text, .img-container {
      flex: 1;
      margin-bottom: 5rem;
    }

    .info-text {
      h1 {
        font-size: 48px;
        color: #F9FAF8;
        font-weight: 900;
      }

      p {
        font-size: 18px;
        color: #E5E7EB;
      }

      button {
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        border: none;
        color: white;
        font-size: 18px;
      }
    }

    .img-container {
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      
      p {
        padding: 2rem;
      }
    }
  }
}

.random-info {
  text-align: center;
  
  h1 {
    color: #1F2937;
    font-weight: 900;
  }
  
  .content-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 5rem 0;

    .box-container {
      flex: 1;
      
      .box {
        border: 4px solid #3882F6;
        border-radius: 8px;
        height: 150px;
        width: 150px;
        margin: auto;
      }
    }
  }
}

.customer-feedback {
  .center-container {
    padding: 2rem 0;
    
    .customer-words {
      color: #1F2937;
      font-weight: lighter;
      font-style: italic;
      font-size: 26px;
    }
  
    .customer-details {
      text-align: right;
      
    }
  }
}

.cta {
  padding: 0;
  display: flex;
  justify-content: center;
  
  .cta-box {
    margin: 4rem 5rem;
    display: flex;
    gap: 1.5rem;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 2rem 4rem;
    
    .cta-text {
      color: white;
      
      p {
        margin: 0;
      }
      
      .cta-bold {
        margin-bottom: 0.2rem;
        font-weight: bold;
      }
    }
    
    .cta-button {
      background: none;
      border: 2px solid white;
      border-radius: 8px;
      color: white;
      padding: 0.5rem 1.5rem;
    }
  }
}

footer {
  text-align: center;
  padding: 1.5rem 0;
  color: white;
}
